{% extends "backend/layout.html" %}

{% block header %}
        <!-- CKEditor -->
        <script src="//cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <!-- Basic Form Elements Title -->
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Register member form</h6>
    </div>
    <!-- END Form Elements Title -->
    <!-- Basic Form Elements Content -->
    <div class="card-body">
         {% for message in messages %}
            <p class="text-danger">{{message}}</p>
         {% endfor %}
        <form action="{% url 'register' %}" method="POST" id="form-register">
            {% csrf_token %}
            <div class="form-row">
                <!-- Company -->
                <div class="form-group col-md-3">
                    <label class="font-weight-bold">
                        Company <span class="text-danger">*</span>
                    </label>
                    <select name="branch" id="branch-select" class="form-control">
                        <option value="">-- Please select company --</option>
                        {% for branch in branches %}
                        <option value="{{ branch.branch_id }}" {% if branch.branch_id|stringformat:"s" == selected_branch|stringformat:"s" %}selected{% endif %}>
                            {{ branch.branch_name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            
                <!-- Branch -->
                <div class="form-group col-md-3">
                    <label class="font-weight-bold">
                        Branch <span class="text-danger">*</span>
                    </label>
                    <select name="sub_branch" id="sub-branch-select" class="form-control">
                        <option value="">-- Please select branch --</option>
                    </select>
                </div>

                <div class="form-group col-md-2">     
                    <label class="font-weight-bold">
                        Department
                    </label>        
                    <select name="department" class="form-control">
                        <option value="" {% if selected_department == "" %}selected{% endif %}>-- Please select department --</option>
                        {% for department in departments %}
                            <option value="{{ department.department_id }}" {% if department.department_id|stringformat:"s" == selected_department %}selected{% endif %}>{{ department.department_name }}</option>
                        {% endfor %}
                    </select>                
                </div>

                <div class="form-group col-md-2">     
                    <label class="font-weight-bold">
                        Position
                    </label>        
                    <select name="position" class="form-control">
                        <option value="">-- Please select position --</option>
                        {% for pos in positions %}
                            <option value="{{ pos.id }}" {% if pos.id|stringformat:"s" == selected_position %}selected{% endif %}>{{ pos.name }}</option>
                        {% endfor %}
                    </select>                
                </div>
                
                <div class="form-group col-md-2 d-flex align-items-center">
                    <div class="form-check mt-4">
                        {{ form.is_staff }}
                        <label class="form-check-label" for="id_is_staff">
                            Staff Status
                        </label>
                    </div>
                </div>
            </div>

            <!-- เปลี่ยน Branch ตาม Company ที่เลือก -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function () {
                    // Event เมื่อเลือก Company
                    $('#branch-select').on('change', function () {
                        var branchId = $(this).val();  // ดึงค่า company ที่เลือก

                        $.ajax({
                            url: "/usermanage/addUser/ajax/load-subbranches/", // Django URL name
                            data: {
                                'branch_id': branchId
                            },
                            dataType: 'json',
                            success: function (data) {
                                var $subBranch = $('#sub-branch-select');
                                $subBranch.empty(); // ล้าง options เดิม

                                $subBranch.append('<option value="">-- Please select branch --</option>');

                                if (data.length > 0) {
                                    for (var i = 0; i < data.length; i++) {
                                        var option = $('<option></option>')
                                            .attr("value", data[i].sub_branch_id)
                                            .text(data[i].sub_branch_name);
                                        $subBranch.append(option);
                                    }
                                } else {
                                    $subBranch.append('<option value="">-- No branch available --</option>');
                                }
                            }

                        });
                    });
                });
            </script>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="font-weight-bold">
                        Username <span class="text-danger">*</span>
                    </label>
                    <input type="text" id="username" name="username" class="form-control" value="{{username}}" placeholder="Username" required>
                </div>
                <div class="form-group col-md-6">
                    <label class="font-weight-bold">
                        Tele number <span class="text-danger">*</span>
                    </label>
                    <input type="text" id="phone_number" name="phone_number" class="form-control" value="{{phone_number}}" placeholder="Tele number" required>
                </div>   
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="font-weight-bold">
                        First name <span class="text-danger">*</span>
                    </label>
                    <input type="text" id="first_name" name="first_name" class="form-control" value="{{first_name}}" placeholder="First name" required>
                </div>
                <div class="form-group col-md-6">
                    <label class="font-weight-bold">
                        Last name <span class="text-danger">*</span>
                    </label>
                    <input type="text" id="last_name" name="last_name" class="form-control" value="{{last_name}}" placeholder="Last name" required>
                </div>   
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="font-weight-bold">
                        Password <span class="text-danger">*</span>
                    </label>
                    <input type="password" id="login-password" name="password" class="form-control" value="{{password}}" placeholder="Password"  required>
                </div>
                <div class="form-group col-md-6">
                    <label class="font-weight-bold">
                        Confirm Password <span class="text-danger">*</span>
                    </label>
                    <input type="password" id="repassword" name="repassword" class="form-control" value="{{repassword}}" placeholder="Confirm Password"required>
                </div>   
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="{% url 'displayUser' %}" class="btn btn-danger ml-1">
                    Back
                </a>
            </div>
        </form>
    </div>
    <!-- END Basic Form Elements Content -->
</div>
{% endblock%}
