{% extends "backend/layout.html" %}

{% block header %}
        <!-- CKEditor -->
        <script src="//cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <!-- Basic Form Elements Title -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Edit member</h6>
        <a href="{% url 'editPassword' userEdit.id %}" class="btn btn-primary btn-sm" 
            data-toggle="tooltip" title="Change password">
         <i class="fa fa-key" aria-hidden="true"></i>
        </a>
    </div>
    <!-- END Form Elements Title -->
    <!-- Basic Form Elements Content -->
    <div class="card-body">
         {% for message in messages %}
            <p class="text-danger">{{message}}</p>
         {% endfor %}
        <form action="{% url 'updateUser' userEdit.id%}" method="POST" id="form-register">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">    
                    <label class="font-weight-bold">
                        Username
                    </label>         
                    <input type="text" id="name" name="username" class="form-control" placeholder="" value="{{userEdit.username}}" disabled>
                    <input type="hidden" name="username" value="{{ userEdit.username }}">
                </div>
                
                <div class="form-group col-md-6 d-flex align-items-center">
                    <div class="form-check mt-4">
                        {{ form.is_staff }}
                        <label class="form-check-label" for="id_is_staff">
                            Staff Status
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-3">  
                    <label class="font-weight-bold">
                        Company
                    </label>           
                    <select name="branch" id="branch-select" class="form-control">
                        <option value="{{userEdit.branch_id}}">--- {{userEdit.branch}} ---</option>
                        {% for branch in branches %}
                            <option value="{{branch.branch_id}}">{{branch.branch_name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-md-3">  
                    <label class="font-weight-bold">
                        Branch
                    </label>           
                    <select name="sub_branch" id="sub-branch-select" class="form-control">
                        <option value="{{userEdit.sub_branch_id}}">--- {{userEdit.sub_branch|default_if_none:""}} ---</option>
                        {% for sub_branches in sub_branches %}
                            <option value="{{sub_branches.sub_branch_id}}">{{sub_branches.sub_branch_name|default_if_none:""}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-md-3">
                    <label class="font-weight-bold">
                        Tele number
                    </label>
                    <input type="text" id="name" name="phone_number" class="form-control" placeholder="Tele number" value="{{userEdit.phone_number}}">
                </div>  

                <div class="form-group col-md-3">
                    <label class="font-weight-bold">
                        Position
                    </label>
                    <select name="position" class="form-control">
                        <option value="">-- Please select position --</option>
                        {% for pos in positions %}
                            <option value="{{ pos.id }}" {% if userEdit.position_id == pos.id %}selected{% endif %}>{{ pos.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- เปลี่ยน Branch ตาม Company ที่เลือก -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function () {
                    // Event เมื่อเลือก Company
                    $('#branch-select').on('change', function () {
                        var branchId = $(this).val();  // ดึงค่า company ที่เลือก

                        $.ajax({
                            url: "/usermanage/addUser/ajax/load-subbranches/", // Django URL name
                            data: {
                                'branch_id': branchId
                            },
                            dataType: 'json',
                            success: function (data) {
                                var $subBranch = $('#sub-branch-select');
                                $subBranch.empty(); // ล้าง options เดิม

                                $subBranch.append('<option value="">-- Please select branch --</option>');

                                if (data.length > 0) {
                                    for (var i = 0; i < data.length; i++) {
                                        var option = $('<option></option>')
                                            .attr("value", data[i].sub_branch_id)
                                            .text(data[i].sub_branch_name);
                                        $subBranch.append(option);
                                    }
                                } else {
                                    $subBranch.append('<option value="">-- No branch available --</option>');
                                }
                            }

                        });
                    });
                });
            </script>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="font-weight-bold">
                        First name
                    </label>
                    <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First name" value="{{ userEdit.first_name }}">
                </div>
                <div class="form-group col-md-6">
                    <label class="font-weight-bold">
                        Last name
                    </label>
                    <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last name" value="{{ userEdit.last_name }}">
                </div>   
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="{% url 'displayUser' %}" class="btn btn-danger ml-1">
                    Back
                </a>
            </div>
        </form>
    </div>
    <!-- END Basic Form Elements Content -->
</div>
{% endblock%}
