{% extends "backend/layout.html" %}

{% block header %}
        <!-- CKEditor -->
        <script src="//cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <!-- Basic Form Elements Title -->
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Change password</h6>
    </div>
    <!-- END Form Elements Title -->
    <!-- Basic Form Elements Content -->
    <div class="card-body">
         {% for message in messages %}
            <p class="text-danger">{{message}}</p>
         {% endfor %}
        <form action="{% url 'updatePassword' passwordEdit.id %}" method="POST" id="form-register">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="font-weight-bold">
                        Password
                    </label>
                    <input type="password" id="login-password" name="password" class="form-control" placeholder="Password" required>
                </div>
                <div class="form-group col-md-6">
                    <label class="font-weight-bold">
                        Confirm Password
                    </label>
                    <input type="password" id="repassword" name="repassword" class="form-control" placeholder="Confirm Password" required>
                </div>   
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="{% url 'displayUser' %}" class="btn btn-danger ml-1">
                    Back
                </a>
            </div>
        </form>
    </div>
    <!-- END Basic Form Elements Content -->
</div>
{% endblock%}
