{% extends "backend/layout.html" %}

{% block content %}
{% load static %}
{% load custom_filters %}
<!-- ตารางบทความ -->
<div class="block full">
    <!-- All Title -->
    <div class="block-title">
        <!-- <div class="block-options pull-right">
            <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default"
                data-toggle="tooltip" title="Settings"><i
                    class="fa fa-cog"></i></a>
        </div> -->
        <h2><strong>Total service request</strong></h2>
        {% if request.GET.department_id == 'IT'%}
            <a href="{% url 'displayForm' %}?department_id=IT" class="btn btn-primary btn-sm btn-default" 
            data-toggle="tooltip" title="Service request IT" style="margin-left: 1px;" >
                <i class="fa fa-plus" aria-hidden="true" style="display: flex; align-items: center;"></i>
            </a>
        {%endif%}
        {% if request.GET.department_id == 'PUR' %}
            <a href="{% url 'displayForm' %}?department_id=PUR" class="btn btn-primary btn-sm btn-default" 
            data-toggle="tooltip" title="Service request PUR" style="margin-left: 1px;" >
                <i class="fa fa-plus" aria-hidden="true" style="display: flex; align-items: center;"></i>
            </a>
        {%endif%}
        {% if request.GET.department_id == 'FIN' %}
            <a href="{% url 'displayForm' %}?department_id=FIN" class="btn btn-primary btn-sm btn-default" 
            data-toggle="tooltip" title="Service request FIN" style="margin-left: 1px;" >
                <i class="fa fa-plus" aria-hidden="true" style="display: flex; align-items: center;"></i>
            </a>
        {%endif%}
    </div>
    <!-- Title -->

    <!--Content -->
    <div class="table-responsive"  style="overflow-x:auto;">
    <table id="ecom-products"
        class="table table-bordered table-striped table-vcenter table-hover">
        <thead>
            <tr>
                <th class="text-center" >No.</th>
                <!-- <th class="hidden-xs text-center">ภาพปัญหา</th> --> 
                <th class="hidden-xs text-center">Department</th>            
                <th class="hidden-xs text-center">Type</th>
                <th class="hidden-xs text-center">Subject</th>
                <th class="hidden-xs text-center">Description</th>
                <th class="hidden-xs text-center">Request name</th>
                <th class="hidden-xs text-center">Request date</th> 
                {% if user.is_staff == 1 %}             
                <th class="hidden-xs text-center">Company</th>  
                {%endif%}   
                {% if user.is_staff == 1 or user.is_staff == 0%} 
                <th class="hidden-xs text-center">Branch</th> 
                {%endif%}   
                <th class="hidden-xs text-center">Status</th>
                <th class="hidden-xs text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for case in case %}
            <tr>
                <td class="text-center">{{forloop.counter }}</td>
                <td class="text-center hidden-xs">{{case.department.department_name}}</td>
                <td class="text-center hidden-xs">{{case.category.name}}</td>    
            <td class="text-left hidden-xs">
                <span title="{{ case.subject_detail }}">
                    {{ case.subject_detail|slice:":20" }}{% if case.subject_detail|length > 20 %}...{% endif %}
                </span>
            </td>
            
            <td class="text-left hidden-xs">
                <span title="{{ case.case_detail }}">
                    {{ case.case_detail|slice:":20" }}{% if case.case_detail|length > 20 %}...{% endif %}
                </span>
            </td>


                <td class="text-left hidden-center">{{case.name}}</td>
                <td class="text-left hidden-center">{{case.date_created|date:"d-m-Y, h:i a"}}</td>
                {% if user.is_staff == 1 %}   
                <td class="text-left hidden-center">{{ case.branch.branch_name|linebreak_after:"โรงพยาบาลสัตว์"|safe }}</td>
                {%endif%}
                {% if user.is_staff == 1 or user.is_staff == 0 %}
                <td class="text-left hidden-center">{{case.sub_branch.sub_branch_name}}</td>
                {%endif%}
                <td class="text-left hidden-center">
                    {% if case.status_id == 1 %}
                        <button class="btn btn-primary btn-fixed-width">{{ case.status.name }}</button> 
                    {% elif case.status_id == 2 %}
                        <button class="btn btn-warning btn-fixed-width">{{ case.status.name }}</button> 
                    {% elif case.status_id == 5 %}
                        <button class="btn btn-success btn-fixed-width">{{ case.status.name }}</button> 
                    {% elif case.status_id == 4 or case.status_id == 7 %}
                        <button class="btn btn-info btn-fixed-width">{{ case.status.name }}</button> 
                    {% elif case.status_id == 6 %}
                        <button class="btn btn-danger btn-fixed-width">{{ case.status.name }}</button>    
                    {% else %}
                        <button class="btn btn-secondary btn-fixed-width">{{ case.status.name }}</button> 
                    {% endif %}
                    <style>
                        .btn-fixed-width {
                        min-width: 140px;
                        text-align: center;
                    }
                    </style>
                </td>
                          
                <td class="text-center hidden-xs">                 
                    <div class="btn-group btn-group-xs">
                        {% if request.user.is_staff == 1 %}
                        <a href="{% url 'editData' case.id %}" data-toggle="tooltip" title="Manage job"
                            class="btn btn-default"><i class="fa fa-pencil"></i>
                        </a>
                        {% if request.user.username == "admin" %}
                        <a href="{% url 'deleteData' case.id%}" data-toggle="tooltip" onclick="return confirm('Do you want delete data ?')" title="Delete" class="btn btn-xs btn-danger">
                            <i class="fa fa-times"></i>
                        </a>
                        {%endif%}
                        <a href="{% url 'addImages' case.id %}" data-toggle="tooltip" title="Attach additional images or files"
                            class="btn btn-default"><i class="fa fa-picture-o"></i>
                        </a>
                        {%else%}
                        <a href="{% url 'editData' case.id %}" data-toggle="tooltip" title="View repair details"
                            class="btn btn-default"><i class="fa fa-pencil"></i>
                        </a>
                        <a href="{% url 'addImages' case.id %}" data-toggle="tooltip" title="Attach additional images or files"class="btn btn-default">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                        {% endif %}       
                    </div>                   
                </td>               
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <!-- END All Products Content -->
</div>
{% endblock %}